<connectionStrings>
  <add name="FSIS"
        connectionString="Data Source = LAPTOP-VFOVPP1G\JENSQL; Initial Catalog = FSIS_Database; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>

<!--<connectionStrings>
  <add name="NWDB"
        connectionString="Data Source = .; Initial Catalog = Northwind_CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings> -->