
<div class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
        <a class="navbar-brand" style="font-size:x-large">
            <strong>CPSC1517</strong>
        </a>
    </div>

    <ul class="nav navbar-nav">

   

        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ExercisePages<b class="caret"></b></a>
            <!-- code the actual submenu items-->
            <ul class="dropdown-menu">
                <li><a href="@Href("~/ExercisePages/Exercise01.cshtml")">Exercise01</a></li>
                <li><a href="@Href("~/ExercisePages/Exercise02.cshtml")">Exercise02</a></li>



            </ul>
        </li>


    </ul>
</div>