<connectionStrings>
  <add name="NWDB" connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrted Security=true"
       providerName="System.Data.SqlClient"/>
  <!--<add name="NWDB" connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrted Security=true"
      providerName="System.Data.SqlClient"/> -->
  <!-- have 2, for when working at home - comment out depending where you are working -->
</connectionStrings>