@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise02";

    var searcharg = Request.Form["searcharg"];
    var thebutton = Request.Form["formButton"];
    var yourtextboxvalue = "";
    var partialstring = "%" + yourtextboxvalue + "%";
    var artistlist = Request.Form["artistlist"];


    if (string.IsNullOrEmpty(searcharg))
    {
        searcharg = "0";
    }

    var db = Database.Open("Chinook");


    var querycommand = "SELECT ArtistID, Name "
                    + "FROM Artists "
                    + "WHERE Name = @0"
                    + "ORDER BY Name";
    var ddlResults = db.Query(querycommand);


}
@section banner{
    <h1>Exercis 2: Database Query</h1>
}
@if (IsPost)
{
    if (thebutton.Equals("clear"))
    {
        searcharg = "";
       

    }
    else
    {
     
        if (results == null)
        {
            <p><span style="color:blue">No data found for region id @searcharg</span></p>
          
        }
        else
        {
            //a record was actually retrieved
            //set your output fields
            //how does one access a data field on the
            //     results data record(s)
            //a) via index xxxx[columnindex]
            //b) via the column title xxxx.columntitlename
            <p><span style="color:green">Found</span></p>
            
           
        }
    }
}
<form id="EX02" method="post">
    <div class="row">
        <div class="col-md-4">
            <label for="searcharg">Enter Artist Name:</label><br />
            <input type="number" id="searcharg" name="searcharg"
                   placeholder="Artist Name"
                   value="@searcharg" />
            <br />
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn btn-primary" value="search">
                Fetch Artist
            </button>
          
        </div>
        <div class="col-md-6">
            <label for="artistlist"> Select your artist: </label><br />
            <select id="artistlist" name="artitstlist">
                <option value="0"> select ...</option>
                @foreach (var artistid in ddlResults)
                {
                    <option value="artistitem.ArtistID">
                        @artistid[1]
                    </option>
                }

            </select>
            &nbsp;&nbsp;
            <button type="submit" id="formbutton" name="formbutton"
                    value="search" class="btn btn-primary">
                Fetch Album
            </button>
        </div>

      </div>
</form>

