@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "DB - Single Query";

    var searcharg = Request.Form["searcharg"];
    var thebutton = Request.Form["formButton"];
    var yourtextboxvalue = "";
    var partialstring = "%" + yourtextboxvalue + "%";
    var artistlist = Request.Form["artistlist"];



    //remember, on the 1st page pass, the form has NOT been displayed
    //searcharg will be null
    //looking up a sql table by primary key using a value of null
    //     will not be successful
    if (string.IsNullOrEmpty(searcharg))
    {
        searcharg = "0";
    }

    //connect to your database "pipeline"
    var db = Database.Open("Chinook");


    var querycommand = "SELECT ArtistID, Name "
                    + "FROM Artists "
                    + "WHERE Name = @0"
                    + "ORDER BY Name";

    //execute the commmand on the connected database
    //capture the results of the execution
    //.QuerySingle() used when one expects a single record to be returned
    //.Query() used when one expects 0, 1 or more records to be returned
    //.QueryValue() used when one expects a single value (NOT RECORD) to be returned
    var results = db.QuerySingle(querycommand, searcharg);

}
@section banner{
    <h1>Exercis 2: Database Query</h1>
}
@if (IsPost)
{
    if (thebutton.Equals("clear"))
    {
        searcharg = "";
       

    }
    else
    {
        //test to see if any record was returned from the query
        //if no record was returned then the results will be null
        if (results == null)
        {
            <p><span style="color:blue">No data found for region id @searcharg</span></p>
          
        }
        else
        {
            //a record was actually retrieved
            //set your output fields
            //how does one access a data field on the
            //     results data record(s)
            //a) via index xxxx[columnindex]
            //b) via the column title xxxx.columntitlename
            <p><span style="color:green">Found</span></p>
            
           
        }
    }
}
<form id="EX02" method="post">
    <div class="row">
        <div class="col-md-4">
            <label for="searcharg">Enter Artist Name:</label><br />
            <input type="number" id="searcharg" name="searcharg"
                   placeholder="Artist Name"
                   value="@searcharg" />
            <br />
            <button type="submit" id="formbutton" name="formbutton"
                    class="btn btn-primary" value="search">
                Fetch Artist
            </button>
          
        </div>
        <div class="col-md-6">
            <label for="artistlist"> Select your artist: </label><br />
            <select id="artistlist" name="artitstlist">

            </select>
        </div>

      </div>
</form>

