@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise02_B";



    var artistID = Request.QueryString["ArtistId"];

    if (string.IsNullOrEmpty(artistID))
    {
        Response.Redirect("/ExercisePages/Exercise02.cshtml");
    }

   
    var db = Database.Open("Chinook");
    var scalarCommand = "Select Name from Artists where ArtistId = @0";

    
    var artistName = db.QueryValue(scalarCommand, artistID);

  
    var queryCommand = "SELECT ArtistId, Title, ReleaseYear, ReleaseLabel FROM Albums WHERE ArtistId = @0 ORDER BY Title";

    var results = db.Query(queryCommand, artistID);


    var gridInstance = new WebGrid(results, rowsPerPage: 5);

    if (results.Count() == 0)
    {
        <p>No records found!</p>
    }

}



@section banner{
    <h1>Execise 2 : Database Query</h1>
}
<div>
    <div class="row">
        <div class="container">
            <strong>Albums for @artistName</strong>

            @gridInstance.GetHtml(tableStyle: "table table-bordered table-striped table-hover",
         mode: WebGridPagerModes.All,
         firstText: "Start",
         lastText: "End",
         columns: gridInstance.Columns(
              gridInstance.Column(columnName: "ArtistId", header: "ID", canSort: false),
                     gridInstance.Column(columnName: "Title", header: "Title", canSort: true),
                     gridInstance.Column(columnName: "ReleaseYear", header: "Released", canSort: true),
                     gridInstance.Column(columnName: "ReleaseLabel", header: "Label", canSort: false),
                     gridInstance.Column(columnName:"", format:@<text><a href="~/ExercisePages/Exercise04.cshtml?aid=@item.ArtistId"> Edit </a></text>)
                       )
                     )
        </div>
    </div>

</div>